body{
    height: 100vh;
    display: grid;
    place-items: center;
}


.parent{
    border: solid;
    width: 200px;
    height: 300px;
    position: relative;
}
.child{
    width: 50px;
    height: 50px;
    border: solid;
    background-color: green;
    position: absolute;
    left: 70px;
    top: -20px;

}